#newRecipeForm div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
​ #newRecipeForm p {
  color: #a1a1a1;
  font-weight: 350;
}
​ #newRecipeForm .nextButton {
  color: #535755;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  border: transparent;
  cursor: pointer;
}

#newRecipeForm form {
  margin: 20vh auto;
}

#inputFields {
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

#ingredientAdd li {
  height: 2rem;
  border: 1px solid black;
  list-style-type: none;
}

#ingredientsAdd input {
  border: 1px solid black;
}
