h1 {
  color: black;
  /* -webkit-text-shadow: -2px 7px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: -2px 7px 5px -2px rgba(0, 0, 0, 0.75); */
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

h4 {
  color: #535755;
}

p {
  color: #a1a1a1;
  margin: 5px;
}

.faqContainer {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 11vh auto 0 auto;
  margin-top: 0 auto;
}

.faqContainer div {
  margin: 0.5rem 0;
}

#siteInfo div {
  margin: 1rem 0 1rem 0;
  padding-top: 2rem;
}

hr {
  margin: 1.5rem 0;
}

#siteInfoLink {
  color: #0095dd;
  margin: 1rem 0 0.5rem 0;
  float: left;
  align-self: baseline;
  font-size: 1.25rem;
}
