/* Common Styling */

#homepage {
  margin: 0;
  width: 100vw;
}

#halfScreenImages {
  width: 100%;
  height: 95vh;
  border-radius: 0 2% 100% 0;
}

#halfScreenImagesTwo {
  width: 100%;
  height: 95vh;
  border-radius: 100% 0 0 100%;
}

.col-5 {
  padding: 0;
}
.col-4 {
  padding: 0;
}

.col {
  padding: 0;
}
#homepage .row {
  height: 95vh;
  width: 100vw;
}

h1 {
  text-shadow: 0px 2px 4px #0000006a;
  font-size: 3rem;
}

/* Styling for row 1 */

#row1 img {
  /* width: 100%;
  height: 93vh; */
  opacity: 0.85;
  border-radius: 0 2% 100% 0;
}

#rightTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginButtons {
  margin-top: 4rem;
}

#loginButtons .btn {
  margin: 0 10px;
  background-color: #009688;
}

/* Styling for row 2 */

#row2 img {
  width: 100%;
  height: 91vh;
  margin: auto;
  border-radius: 100% 0 0 100%;
}

#row2 h4 {
  margin-top: 3rem;
}

#headline {
  padding: 0 1rem 0 2.5rem;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headline .btn {
  width: 9rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}
#headline h3:nth-of-type(2) {
  margin-top: 1.5rem;
}

/* Row 3 styling */
#row3 {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 13rem 2rem 0 2rem;
}

#row3 .col-lg-4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#row3 h1 {
  text-align: center;
}

#bioPic {
  max-height: 20rem;
  max-width: 80%;
  border-radius: 80%;
  margin-left: 10%;
  margin-top: 20%;
  /* padding-top: 50%; */
}

#socialButtons {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

#socialButtons img {
  max-height: 6rem;
}

.home-page-button {
  border: 0;
}

.register {
  background-color: rgba(150, 0, 14, 0.8) !important;
}

#bioContainer {
  margin-top: 10vh;
}

@media only screen and (max-width: 740px) {
  #rightTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15%;
  }

  #row3none {
    display: none;
  }

  #bioContainer {
    margin-top: 0;
  }

  #headline {
    /* padding: 0 1rem 0 2.5rem; */
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  #Homepage.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    align-items: center;
  }

  div#secondRowImage {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding: 0;
  }

  #loginButtons .btn {
    margin: 0 2px;
    background-color: #009688;
    padding: 7px;
  }
  #row3 {
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0 0.5rem;
  }
  #headline {
    height: 89vh;
    padding: 0 0.5rem 0 0.5rem;
  }
  #row2 {
    height: 93vh;
  }

  #socialButtons {
    height: 4vh;
    margin: 0.75rem 0;
  }

  #socialButtons img {
    max-height: 3rem;
  }
  #socialButtons button {
    border: 0;
    background-color: transparent;
  }

  #bioPic {
    display: none;
  }

  #bioPicMobile {
    max-width: 65%;
    max-height: 20rem;
    height: auto;
    border-radius: 80%;
    margin-bottom: -1.2rem;
  }

  #bio h1 {
    margin: 0rem auto;
  }

  #bioMobileTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #DashboardRow2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1000px) {
  #halfScreenImagesTwo {
    display: none;
  }
}

@media only screen and (min-width: 740px) {
  #bioPicMobile {
    display: none;
  }
}

/* @media only screen and (max-width: 770px) {
  #bioPicMobile {
    max-width: 65%;
    max-height: 20rem;
    height: auto;
    border-radius: 80%;
    margin-bottom: -1.2rem;
  }
} */
